*,
*::before,
*::after {
    box-sizing: inherit;
}

@import 'modules/bits';
html,
body {
    overflow-x: hidden;
}

html {
    width: 100%;
    height: 100%;
    display: table;
    scroll-padding-top: 100px;
    scroll-behavior: smooth;
}

a {
    color: $black;
    text-decoration: none;
}

body {
    width: 100%;
    display: table-cell;
    box-sizing: border-box;
    font-family: 'Josefin Sans', 'Open Sans', sans-serif;
    background: url(../img/bg-main-mobile.jpg);
}


/* ======== individual colrs for 'R', 'T'. and 'W' ======= */

.r,
.t,
.w {
    color: $pink;
}

header {
    padding: 15px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    opacity: 0;
    transition: all 0.2s ease-in-out;
    animation: upwardFadeIn 0.6s ease-in-out forwards;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: url(../img/navbg.png.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top 20% left 0%;
        z-index: -1;
        opacity: .9;
    }
    nav {
        display: flex;
        justify-content: space-between;
        .logo {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .logo {
            b,
            h2 {
                font-weight: 700;
                letter-spacing: 1px;
                font-family: 'Karla', sans-serif;
            }
            b {
                font-family: 'Dancing Script', cursive;
            }
        }
        .expand-menu-container {
            display: flex;
            align-items: center;
        }
        /* UI for the menu */
        .links {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            display: none; // display flex if expanded
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100vh;
            z-index: 1;
            &::before {
                content: '';
                position: absolute;
                background: url(../img/bg-mobile-ver.png), white;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                z-index: -1;
            }
            .menu-logo {
                transform: translateY(-70px);
            }
            .link,
            i {
                font-size: 23px;
                text-transform: uppercase;
            }
            .link {
                padding: 5px;
                margin-bottom: 30px;
                font-weight: 200;
                text-align: center;
            }
            i {
                font-size: 30px;
                transform: translateY(100px);
            }
        }
        .expand-menu-container.expanded .links {
            display: flex;
        }
    }
}

@keyframes upwardFadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px)
    }
    to {
        opacity: 1;
        transform: translateY(0px)
    }
}

.nav-scrolled {
    $bg-none: none;
    color: $white;
    background: $bg-none;
    &::before {
        background: $bg-none;
    }
    .links {
        .link {
            &::before {
                background-color: $white;
            }
        }
    }
    #btn-menu-close {
        color: $black;
    }
}

.image-container {
    width: 100%;
    min-height: 400px;
    background: $black;
    position: relative;
    z-index: 1;
    overflow: hidden;
    img {
        position: absolute;
        max-width: 100%;
        min-height: 400px;
        max-height: 750px;
        object-fit: cover;
        z-index: -1;
        display: none
    }
    img.active {
        display: block;
        opacity: .7;
    }
    #business-title-container {
        position: absolute;
        top: 150px;
        left: calc(50% - 15%);
        animation: popup .6s ease-in-out forwards;
        h1,
        h3 {
            color: $white;
            font-family: 'Dancing Script', cursive;
            font-weight: 700;
            font-size: clamp(4rem, 6vw, 6rem);
            text-shadow: 1px 1px 10px $black;
        }
        h3 {
            font-size: clamp(2rem, 4vw, 4rem);
        }
        h1 b {
            position: absolute;
            font-size: clamp(8rem, 15vw, 15rem);
            top: -10px;
            left: -55px;
            font-weight: 400;
            color: $pink;
        }
    }
}

@keyframes popup {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

article {
    margin-bottom: 2.188rem;
    overflow: hidden;
    h2 {
        font-family: 'Josefin Sans', cursive;
        font-weight: 600;
        font-size: 1.5rem;
        margin: 1.4rem 0;
        letter-spacing: 1px;
        text-align: center;
        position: relative;
        color: $black;
    }
    p {
        text-align: center;
        font-weight: 200;
        line-height: 1.563rem;
        font-size: 1.1rem;
    }
}

@supports (background-clip: text) {
    article h2 {
        background-image: url(../img/shritpat.jpg);
        background-position: center;
        background-size: 100%;
        background-clip: text;
        color: transparent;
    }
}

#about {
    overflow: hidden;
    section {
        margin: 0 1.875rem;
        text-align: center;
        p {
            font-weight: 200;
            line-height: 1.563rem;
        }
    }
}

#contact {
    background: $pink;
    padding: 20px;
    overflow: hidden;
    h2 {
        font-family: 'Josefin Sans', cursive;
        font-weight: 600;
        font-size: 1.5rem;
        margin: 1.5rem 0;
        letter-spacing: 1px;
        text-align: center;
        color: #eeeeee;
    }
    section {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        i {
            margin-right: .8rem;
        }
    }
    section>*:not(i) {
        color: #eeeeee;
        font-size: 1.2rem;
        font-weight: 200;
        margin-bottom: 1.25rem;
        display: flex;
        align-items: center;
    }
}

.household {
    width: 100%;
    min-height: 250px;
    position: relative;
    overflow: hidden;
    margin: 30px 0 50px;
    touch-action: none;
    overflow: hidden;
    &::before,
    &::after {
        content: '';
        position: absolute;
        top: 50%;
        width: 40px;
        height: 40px;
        background: $pink;
        border-radius: 50%;
        z-index: 1;
    }
    &::before {
        left: -20px;
    }
    &::after {
        right: -20px;
    }
    h3 {
        text-align: center;
        font-family: 'Karla', sans-serif;
        font-size: 20px;
    }
    .click-to-view {
        cursor: pointer;
        position: absolute;
        top: 20%;
        left: 20px;
        z-index: 1;
        color: #eeeeee;
        font-size: 1.1rem;
        text-shadow: 0 0 5px $black;
        &:hover {
            color: $white;
        }
    }
    .draggable-imgs {
        margin-top: 40px;
        position: absolute;
        top: 0;
        left: 0;
        width: 400%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 5px;
        transition: 0s ease-in-out;
        pointer-events: none;
        touch-action: none;
        img {
            width: 100%;
            min-height: 250px;
            max-height: 400px;
            object-fit: cover;
            border-radius: 15px;
        }
    }
}

//SLIDE BOTTOM ANIMATION
.slide-bottom {
    animation: slideBottom 0.3s ease-in-out forwards;
}

@keyframes slideBottom {
    from {
        transform: translateY(30px);
        display: none;
    }
    to {
        transform: translateY(0px);
        display: block;
    }
}

//X COORDINATE SLIDE IN ANIMATION
.from-right {
    transform: translateX(40px);
    opacity: 0;
}

.from-left {
    transform: translateX(-40px);
    opacity: 0;
}

.from-left,
.from-right {
    transition: opacity 275ms ease-in-out, transform 450ms ease-in-out;
}

.from-left.appear,
.from-right.appear {
    transform: translateX(0);
    opacity: 1;
}

.selected-link-highlight {
    border: 3px solid hsl(0, 100%, 72%);
    animation: fadeInOut 0.55s ease-in-out forwards;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    33% {
        opacity: 1;
    }
    66% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/* declarations for display img */

.display-img-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(#111, .8);
    z-index: 1500;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .display-img {
        display: none;
        width: 100%;
        min-height: 300px;
        max-height: 550px;
        margin-top: 1.875rem;
        object-fit: cover;
        position: absolute;
        top: 25;
        left: 0;
    }
    .display-img.active-display {
        animation: fadeIn 0.4s ease-in-out forwards;
        display: block;
    }
    button {
        position: absolute;
        top: 50%;
        background: rgba($black, .7);
        border: none;
        color: #ddd;
        font-size: clamp(2rem, 3vw, 3rem);
        padding: .3rem 1rem;
        display: flex;
        align-items: center;
        border-radius: 99px;
        transition: color 0.2s ease-in-out;
        z-index: 1;
        outline: none;
        &:hover {
            color: $white;
        }
    }
    #next {
        right: 15px;
    }
    #prev {
        left: 15px;
    }
    #display-img-close {
        top: 5px;
        right: 5px;
        background: none;
    }
}

.display-img-container.displayed {
    animation: popUp 0.4s ease-in-out forwards;
    display: flex;
}

.click-to-view {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 200;
    cursor: pointer;
    &:hover {
        color: #444;
    }
}

@keyframes popUp {
    0% {
        transform: scale(var(--scale, 0));
    }
    100% {
        --scale: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: var(--alpha, 0);
    }
    100% {
        --alpha: 1;
    }
}


/* breakpoint */

@include breakpoint(laptop) {
    body {
        background: url(../img/bg-main-desktop.jpg);
    }
    header {
        &::before {
            background: url(../img/navbg.png-desktop.jpg);
        }
        nav {
            max-width: 868px;
            margin: auto;
        }
        .expand-menu-container {
            display: flex !important;
            i {
                display: none;
            }
        }
        /* UI for the menu */
        .links {
            position: static !important;
            transform: unset !important;
            display: flex !important;
            flex-direction: row !important;
            align-items: center !important;
            justify-content: space-between !important;
            width: unset !important;
            height: unset !important;
            &::before {
                content: none !important;
            }
            .menu-logo {
                display: none;
                transform: unset;
            }
            .link {
                font-size: 1.1rem !important;
                margin-right: 20px;
                margin-bottom: unset !important;
                position: relative;
                font-weight: 400 !important;
                a {
                    transition: all 0.2s ease-in-out;
                }
                &::before {
                    content: '';
                    position: absolute;
                    left: 0;
                    bottom: -10px;
                    width: 100%;
                    height: 4px;
                    background-color: $black;
                    border-radius: 99px;
                    transform: scaleX(0);
                    transform-origin: right;
                    transition: transform 0.3s ease-in-out;
                }
                &:hover::before {
                    transform-origin: left;
                    transform: scaleX(1);
                }
            }
        }
    }
    .nav-scrolled {
        b,
        a {
            color: $white;
        }
    }
    .image-container {
        min-height: 550px;
        position: relative;
        #business-title-container {
            left: calc(50% - 7%);
            h1 b {
                position: absolute;
                font-size: clamp(8rem, 15vw, 15rem);
                top: -30px;
                left: -85px;
                font-weight: 400;
                color: $pink;
            }
        }
    }
    .clothes-pile {
        display: none;
    }
    .container-lg {
        max-width: 868px;
        margin: auto;
    }
    article {
        h2 {
            font-size: 1.8rem;
        }
    }
    .household {
        min-height: 350px;
        &::before,
        &::after {
            width: 50px;
            height: 50px;
        }
        &::before {
            left: -25px;
        }
        &::after {
            right: -25px;
        }
        h3 {
            font-size: 25px;
        }
        .draggable-imgs {
            img {
                min-height: 350px;
            }
        }
    }
    #about {
        max-width: 500px;
        margin: 0 auto 3.125rem;
        section {
            p {
                line-height: 30px;
            }
        }
    }
    #contact {
        h2 {
            font-size: 1.8rem;
        }
        section {
            a {
                &:hover {
                    color: $white;
                }
            }
        }
    }
}